@import "variables";
@import "mixins";

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    font-family: 'Nunito', sans-serif;
    
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// Custom code begins here -KG



// Main page container
.container {
    height: 100vh;
    width: 100%;
    background: url("../img/WunderListBG.png")  no-repeat center center;
    background-attachment: fixed;
    
    .content{
        display: grid;
        grid-template-columns: 20% 40%;
        grid-template-rows: 10% auto;
        grid-gap: 10%;
        //border: 1px solid purple;
        justify-content: space-between;
        align-items: center;
        
        h1 {
            font-size: @font-size;
            color: @text_color;
            text-shadow: 1px 1px;
            margin-left: 40%;
            padding: 2%;
        }

        nav {
            font-size: @font-size;
            text-shadow: 1px 1px @text_color;
            margin: .15%;
        }

        a {
            margin-left: 15%;
            text-decoration: none;
            color:black;
            &:hover {
                color: darken(@link_color_hover, 50%);
                text-shadow: 1px 0px 20px @shadow_color;

            }
        }
     
  
    .main_content {
        border: 1px solid blue;
        width: 100%;
    }

}
}