@font-size: 1em;
@font-size_2: .75em;

// Website Color Palette
@link_color_hover: #FCE959;
@text_color: #000000;
@shadow_color: #FFFFFF;
@blue_color: #004BC4;
@red_color: #E30000;
@green_color: #247921;

