@font-size: 20px;

// Website Color Palette
@link_color_hover: #FCE959;
@text_color: #000000;
@shadow_color: #FFFFFF;
@blue_color: #004BC4;
@red_color: #E30000;
@green_color: #247921;
@text_shadow: -1px 0 @text_color, 0 1px @text_color, 1px 0 @text_color, 0 -1px @text_color;
@text_shadow_2: -1px 0 @blue_color, 0 1px @blue_color, 1px 0 @blue_color, 0 -1px @blue_color;